*{
    margin: 0;
    padding: 0;
    color: #262626;
    font-family:  Helvetica, sans-serif;
}

#container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#logo, #form-login{
    flex-grow: 1 1 0;
    width: 50%;
}

#logo{
    text-align: right;
    margin-top: 30px;
}

#form-login{
    text-align: center;
    margin-top: 40px;
    width: 350px;
    margin-right: -15px;
}

#logo img{
    width: 350px;
    margin-right: 20px;
    
}

#box-cadastrar img {
    width: 175px;
    height: 50px;
    margin-top: 12px;
}

#obter-app img {
    width: 175px;
    height: 75px;
    align-items: center;
}

#box-cadastrar{
    border: 2px solid #CCC;
    width: 300px;
    padding: 15px;
}

#box-cadastrar input{
    width: 250px;
    height: 30px;
    margin: 10px auto -2px;
    align-items: center;
}

.divisao{
    position: relative;
}

.divisao .line{
    border-top: 1px solid #CCC;
    width: 268px;
    margin: 25px auto 35px;
}

.divisao span{
    position: absolute;
    text-transform: uppercase;
    width: 50px;
    color: #BBB;
    top: -6px;
    left: 50%;
    margin-left: -25px;
    font-size: 14px;
    font-weight: bold;
}